<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Change Password</title>
<style type="text/css">
.error {
	color: red
}
</style>
</head>
<body>
	<form method="post" th:object="${userChangePasswordDTO}" th:action="@{/user/changePassword}">
		<div class="errors" th:if="${#fields.hasErrors('*')}">
			<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
			</ul>
		</div>
		<label th:class="${#fields.hasErrors('oldPassword')}? 'error'">
			Old Password
		</label>:
		<input type="password" th:field="*{oldPassword}" th:class="${#fields.hasErrors('oldPassword')}? 'error'" />
		<br />
		<label th:class="${#fields.hasErrors('password')}? 'error'">
			Password
		</label>:
		<input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'error'" />
		<br />
		<label th:class="${#fields.hasErrors('verifyPassword')}? 'error'">
			Verify Password
		</label>:
		<input type="password" th:field="*{verifyPassword}" th:class="${#fields.hasErrors('verifyPassword')}? 'error'" />
		<br />
		<input type="submit" value="Change Password" />
	</form>
</body>
</html>