<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="_fragments/header::head(metaDescription='Company user password reset page',title='Forgot Password',links='forgotPassword::link',scripts='_')">
	<link href="/css/user.css" rel="stylesheet"/>
</head><!--/head-->

<body>

	<header id="header" th:include="_fragments/header::header"></header>

	<div class="container">
		<div class="row wow fadeInDown user-container">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form role="form" method="post" th:action="@{/forgotPassword}">
					<fieldset>
						<div class="userpage-logo">
							<span><i class="fa fa-user fa-lg"></i></span>
						</div>
						<h1 class="userpage-heading">Send Password Reset Link</h1>
						
						<div id="message">
							<div id="message-icon" class="glyphicon glyphicon-chevron-right"></div>
							<div id="message-text">
								<span>Please enter your details</span>
							</div>
						</div>
						
						<div class="form-group row has-success has-error has-feedback">
							<label class="col-sm-3 col-xs-4 col-form-label">
								Username *
							</label>
							<div class="col-sm-9 col-xs-8">
								<input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username" required="true"/>
								<span id="username-feedback" aria-hidden="true"></span>
							</div>
						</div>
						
						<div class="form-group row has-success has-error has-feedback">
							<label class="col-sm-3 col-xs-4 col-form-label">
								Email *
							</label>
							<div class="col-sm-9 col-xs-8">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" required="true"/>
								<span id="email-feedback" aria-hidden="true"></span>
							</div>
						</div>
						
						<hr class="black-line"/>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<input type="submit" class="btn btn-lg btn-primary-login btn-block"
									value="Send Password Reset Link"/>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6" style="font-size: medium; margin-top: 10px; text-align: center;">
								Remember the password? <a th:href="@{/login}" href="/login">Sign In</a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<footer id="footer">
		<div th:replace="_fragments/footer::footer(containerType='')"></div>
	</footer>
	<!--/#footer-->

	<div th:include="_fragments/footer::scripts(extras='forgotPassword::script')">
		<script src="/js/user.js"></script>
	</div>
</body>
</html>