<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="_fragments/info::html(
		meta=${error.message},
		heading=${error.message},
		type='error',
		greeting=${error.description},
		content='::content',
		buttons='::buttons')">
		<div th:fragment="content">
			<span th:if="${error.action != null && !error.action.isEmpty()}" th:text="${error.action}">
				We are sorry to tell you that the page you are looking for is not found.
			</span>
			<span th:if="${error.action == null || error.action.isEmpty()}">
				We are sorry to tell you that something went wrong in our system. 
				Please try again or contact our administrator. Sorry for the inconvenience.
			</span>
		</div>
		<div th:fragment="buttons">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a th:href="@{/index}" href="/index" class="btn btn-lg btn-primary-login btn-block">Home</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a th:href="@{/contact}" href="/contact" class="btn btn-lg btn-primary-login btn-block">Contact</a>
			</div>
		</div>
</html>