<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="_fragments/info::html(
		meta='FORBIDDEN',
		heading='403',
		type='error',
		greeting='Oops',
		content='::content',
		buttons='::buttons')">
		<div th:fragment="content">
			Access forbidden.
		</div>
		<div th:fragment="buttons">
			<div class="col-xs-12">
				<a th:href="@{/index}" href="/index" class="btn btn-lg btn-primary-login btn-block">Home</a>
			</div>
		</div>
</html>