<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="_fragments/info::html(
		meta='Company registration confirmed',
		heading='Registration confirmed',
		type='success',
		greeting='Congratulations!',
		content='::content',
		buttons='::buttons')">
		<div th:fragment="content">
			Your email is verified. Please login to access your account.
		</div>
		<div th:fragment="buttons">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a th:href="@{/index}" href="/index" class="btn btn-lg btn-primary-login btn-block">Home</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a th:href="@{/login}" href="/login" class="btn btn-lg btn-primary-login btn-block">Login</a>
			</div>
		</div>
</html>