<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="_fragments/info::html(
		meta='Unblock link sent successfully',
		heading='Unblock link sent',
		type='info',
		greeting='Good to go',
		content='::content',
		buttons='::buttons')">
		<div th:fragment="content">
			Unblock link has been sent successfully.
			Please follow the link sent to your inbox to unblock your account.
		</div>
		<div th:fragment="buttons">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a th:href="@{/index}" href="/index" class="btn btn-lg btn-primary-login btn-block">Home</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<a th:href="@{/login}" href="/login" class="btn btn-lg btn-primary-login btn-block">Login</a>
			</div>
		</div>
</html>